body{
    background-color: #EAF6F6;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img{
    border-radius: 60%;
   }
   table {
    /* table-layout: fixed; */
    width: 100%;
}

h1,h3{
    color:#66BFBF;
}


@media (max-width: 600px){

    p,h1,h3{
        
        font-size: 36px;
        line-height:50px;
    }
}
